# A complicated .gitignore to ignore all the data / debugging files generated
# by the various experiments and only keep the source code, image and readme
# files.

#Ignore everything in this directory

*

!README.md
!.gitignore

!dnms
dnms/*
!dnms/*.py
!dnms/*.sh
!dnms/*.cpp
!dnms/*.png
!dnms/*.md

!selectiveint
selectiveint/*
!selectiveint/*.py
!selectiveint/*.sh
!selectiveint/*.cpp
!selectiveint/*.png
!selectiveint/*.md


# armmodel is special and contains files of different types. We want to keep it all.
!armmodel
!armmodel/*


!additionalexperiments
additionalexperiments/*

!additionalexperiments/EInet
additionalexperiments/EInet/*
!additionalexperiments/EInet/*.py
!additionalexperiments/EInet/*.sh
!additionalexperiments/EInet/*.cpp
!additionalexperiments/EInet/*.png
!additionalexperiments/EInet/*.md

!additionalexperiments/gradients
additionalexperiments/gradients/*
!additionalexperiments/gradients/*.py
!additionalexperiments/gradients/*.sh
!additionalexperiments/gradients/*.cpp
!additionalexperiments/gradients/*.png
!additionalexperiments/gradients/*.md

!additionalexperiments/dnmslongdelay
additionalexperiments/dnmslongdelay/*
!additionalexperiments/dnmslongdelay/*.py
!additionalexperiments/dnmslongdelay/*.sh
!additionalexperiments/dnmslongdelay/*.cpp
!additionalexperiments/dnmslongdelay/*.png
!additionalexperiments/dnmslongdelay/*.md

!additionalexperiments/dnmsvariabledelay
additionalexperiments/dnmsvariabledelay/*
!additionalexperiments/dnmsvariabledelay/*.py
!additionalexperiments/dnmsvariabledelay/*.sh
!additionalexperiments/dnmsvariabledelay/*.cpp
!additionalexperiments/dnmsvariabledelay/*.png
!additionalexperiments/dnmsvariabledelay/*.md

